@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.font-white {
  color: white;
}

p {
  font-family: "Lato", serif;
  font-size: 1rem;
}

h1 {
  font-family: "Lato", serif;
  font-size: 5rem;
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-family: "Lato", serif;
  font-size: 4.5rem;
}

h2:hover {
  font-family: "Abril Fatface", serif;
  transform: translate(0.5rem, 0.4rem);
}

h3 {
  font-family: "Lato", serif;
  font-size: 2.5rem;
}

h3:hover {
  font-family: "Abril Fatface", serif;
  transform: translate(0rem, 0.1rem);
}
