.container {
  width: 75%;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(
    120deg,
    rgba(0, 187, 156,0.1),
    rgba(0, 255, 212,.4)
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  margin: 0 auto;
}

p {
  color: #00FFD4;
  font-family: 'ITC Eras Light';
  font-size: calc(18px + 0.390625vw);
  letter-spacing: 2px;
  line-height: .625;
  padding: 8px 16px;
}

span {
  font-size: calc(14px + 0.390625vw);
}

#cookies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  bottom: 1rem;
  width: 100%;
  z-index: 10;
  display: none;
}

#cookies a:hover {
  text-shadow: 1px 1px 2px #00FFD4, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00FFD4, 0 0 20px #00FFD4, 0 0 25px #00FFD4, 0 0 30px #00FFD4, 0 0 35px #00FFD4;
}

#cookies-btn {
  background-color: #00FFD4;
  border-radius: 32px;
  border: 1px solid white;
  padding: 4px 8px;
  font-family: harlow solid italic;
  color: white;
  font-size: calc(12px + 0.390625vw);
  margin: 16px 16px;
  cursor: pointer;
}

/* ---------- cookies richtlienien fenster ---------- */

.content {
  display: none;
}

.content.visible {
  background-color: black;
  display: inline-block;
  text-wrap: balance;
  position:fixed;
  inset: 3vh;
  border: 1px solid #00FFD4;
  padding: 16px 32px;
  box-shadow: 1px 1px 2px #00FFD4, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00FFD4, 0 0 8px #00FFD4, 0 0 10px #00FFD4, 0 0 12px #00FFD4, 0 0 15px #00FFD4;
  overflow-y: scroll;
  scroll-behavior: contain;
  backdrop-filter: blur(10px);
  z-index: 1000;
  margin-inline: auto;
  max-width: 800px;
}

.content h1 {
  font-family: 'ITC Eras Light';
  color: #00FFD4;
}

.content h2 {
  font-family: 'ITC Eras Light';
  color: #00FFD4;
}

.content h2:hover {
  font-family: 'ITC Eras Light';
  color: #00FFD4;
  transform: none;
}

.content h3 {
  font-family: 'ITC Eras Light';
  color: #00FFD4;
}

.content h3:hover {
  font-family: 'ITC Eras Light';
  color: #00FFD4;
  transform: none;
}

.content p {
  line-height: 1;
}

.content a {
  font-family: 'ITC Eras Light';
  font-size: calc(15px + 0.390625vw);
  text-decoration: underline;
}

.content li {
  color: #00FFD4;
  font-family: 'ITC Eras Light';
  font-size: calc(15px + 0.390625vw);
  list-style: disc;
  margin-left: 3rem;
  padding-left: 4px;
}

.content li p{
  color: #00FFD4;
  font-family: 'ITC Eras Light';
  font-size: calc(15px + 0.390625vw);
  list-style: disc;
  padding-left: 0;
}


.cookies-close {
  display: none;
}

.cookies-close.visible {
  display: inline-block;
  color: #00FFD4;
  background-color: black;
  border: none;
  position: fixed;
  top:6vh;
  right: 6vh;
  z-index: 2000;
  font-size: 3rem;
  font-weight: bold;
}

.cookies-close:hover {
  color: #00FFD4;
  text-shadow: 1px 1px 2px #00FFD4, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00FFD4, 0 0 20px #00FFD4, 0 0 25px #00FFD4, 0 0 30px #00FFD4, 0 0 35px #00FFD4;
}

body.blur::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  backdrop-filter: blur(5px); /* Blur effect */
  z-index: 999; /* Just below the Impressum */
}

@media only screen and (min-width: 320px) {
  p {
    color: #00FFD4;
    font-family: 'ITC Eras Light';
    font-size: calc(18px + 0.390625vw);
    letter-spacing: 2px;
    line-height: 1.125;
    padding: 8px 16px;
  }

  span {
    font-size: calc(14px + 0.390625vw);
  }

  #cookies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 1rem;
    width: 100%;
    z-index: 10;
    display: none;
  }

  #infos {
    text-wrap: nowrap;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    margin: 0;
  }

}
