/*wild font mix*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*similiar types of font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*font pair*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*Font Size and Style*/

.font-white {
  color: white;
}

h1 {
  font-family: "Lato", serif;
  font-size: 5rem;
  font-style: italic;
  text-decoration: underline;
}

h2 {
  font-family: "Lato", serif;
  font-size: 4.5rem;
}

h2:hover {
  font-family: "Abril Fatface", serif;
  transform: translate(0.5rem, 0.4rem);
}

h3 {
  font-family: "Lato", serif;
  font-size: 2.5rem;
}

h3:hover {
  font-family: "Abril Fatface", serif;
  transform: translate(0rem, 0.1rem);
}

/*Fonts Landing Page*/


.typo-landingpage {
  position: absolute;
  top: 12.8rem;
  left: 10rem;
}

.h1-landingpage {
  position: absolute;
  top: 7rem;
  right: -200rem;
  animation: slideinFront 3s 0.5s forwards;
}

@keyframes slideinFront {
  from {

    scale: 25% 1;
  }

  to {
    top: 7rem;
    left: 10rem;
    scale: 100% 1;
  }
}


.projects-landingpage {
  position: absolute;
  bottom: -50rem;
  right: 13rem;
  animation: slideinProjects 3s 2.3s forwards
}

@keyframes slideinProjects {
  from {
    scale: 25% 1;
  }

  to {
    bottom: 10.56rem;
    right: 13rem;;
  }
}


.about-landingpage {
  position: absolute;
  bottom: 9.2rem;
  right: 22.9rem;
  scale: 0%;
  animation: slideinAbout 3s 2.3s forwards
}

@keyframes slideinAbout {
  from {
    scale: 0%;
  }

  to {
    scale: 100%;
    bottom: 9.2rem;
    right: 22.9rem;
  }
}


.photo-landingpage {
  position: absolute;
  bottom: -10rem;
  right: 10rem;
  animation: slideinPhoto 3s 2.3s forwards
}

@keyframes slideinPhoto {
  from {
    scale: 25% 1;
  }

  to {
    bottom: 7.0rem;
    right: 10rem;
  }
}


/*Media Querys*/

@media (min-width: 1080px) {
  * {
    overflow: hidden;
  }

}

@media (max-width: 768px) {

  * {
    overflow: hidden;
  }

  .h1-landingpage {
    font-size: 4rem;
  }
}


@media (max-width: 576px) {

  .h1-landingpage {
    font-size: 2.5rem;
  }

}

@media screen and (max-width: 480px) {
  * {
    overflow: hidden;
    display: block;
  }

  .typo-landingpage {
    top: 3rem;
    left: 2rem;
  }

  .h1-landingpage {
    font-size: 1.7rem;
    right: -50rem;
    animation: slideinFront 3s 0s forwards;
  }

  @keyframes slideinFront {
    to {
      top: 5rem;
      right: 2rem;
      scale: 100% 1;
    }
  }

  .projects-landingpage {
    position: absolute;
    top: -50rem;
    right: 2rem;
    animation: slideinProjects 3s 2.3s forwards
  }

  @keyframes slideinProjects {
    from {
      scale: 25% 1;
    }

    to {
      top: 6.6rem;
      right: 2rem;
    }
  }

  .about-landingpage {
    position: absolute;
    top: 0rem;
    right: 2rem;
    scale: 0%;
    animation: slideinAbout 3s 2.3s forwards
  }

  @keyframes slideinAbout {
    from {
      scale: 0%;
    }

    to {
      scale: 100%;
      top: 12rem;
      right: 2rem;
    }
  }

  .photo-landingpage {
    position: absolute;
    top: -10rem;
    right: 2rem;
    animation: slideinPhoto 3s 2.3s forwards
  }

  @keyframes slideinPhoto {
    from {
      scale: 25% 1;
    }

    to {
      top: 14.5rem;
      right: 2rem;
    }
  }
}

@media screen and (max-width: 375px) {
  * {
    overflow: hidden;
    display: block;
  }

  .typo-landingpage {
    top: 3rem;
    left: 1rem;
  }

  .h1-landingpage {
    position: absolute;
    font-size: 2rem;
    top: 7rem;
    right: -200rem;
    animation: slideinFront 3s 0.5s forwards;
  }

  @keyframes slideinFront {
    from {
      top: 5rem;
      left: 10rem;
      scale: 100% 1;
      scale: 25% 1;
    }

    to {
      top: 5rem;
      right: 1rem;
      scale: 100% 1;
    }
  }

  .projects-landingpage {
    position: absolute;
    top: -50rem;
    right: 1rem;
    animation: slideinProjects 3s 2.3s forwards
  }

  @keyframes slideinProjects {
    from {
      scale: 25% 1;
    }

    to {
      top: 6.6rem;
      right: 1rem;
    }
  }

  .about-landingpage {
    position: absolute;
    top: 0rem;
    right: 1rem;
    scale: 0%;
    animation: slideinAbout 3s 2.3s forwards
  }

  @keyframes slideinAbout {
    from {
      scale: 0%;
    }

    to {
      scale: 100%;
      top: 12rem;
      right: 1rem;
    }
  }

  .photo-landingpage {
    position: absolute;
    top: -10rem;
    right: 10rem;
    animation: slideinPhoto 3s 2.3s forwards
  }

  @keyframes slideinPhoto {
    from {
      scale: 25% 1;
    }

    to {
      top: 14.5rem;
      right: 1rem;
    }
  }
}
