img {
  max-width: 100%;
  margin: 0 auto;
  /* min-height: 100px; */
}

.fullsize {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/*media queries*/

@media only screen and (min-width: 810px) {
  .portrait {
    max-width: 50%;
  }

}
