body {
  background-color: black;
}
img {
  max-width: 100%;
  margin: 0 auto 75%;
  opacity: 0%;
  /* min-height: 100px; */
}

.img-container {
  display: grid;
  margin-inline: auto;
  max-width: 1400px;
}

.fullsize {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
  opacity: 100%;
  transition: 1s ease-out;
}

.up {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.75rem;
  margin: 0.75rem;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-shadow: -1px 0px 1px #fff, 0px -1px 1px #fff, 0px 0px 8px #fff;
}



/*media queries*/

@media only screen and(min-width: 450px) {
  .up {
    bottom: 0;
    right: 2%;
  }
}

@media only screen and (min-width: 750px) {
  .up {
    font-size: 3rem;
    bottom: 0;
    right: 1%;
  }
}

@media only screen and (min-width: 810px) {
  .portrait {
    max-width: 50%;
  }

  .left {
    margin: 0 auto 0 0;
  }

  .right {
    margin: 0 0 0 auto;
  }
}


/* impressum */

.impressum {
  /* max-width: calc(70ch + (70 * 4px));
  padding: 2em 2em 0 2em; */
  /* margin-inline: auto; */
  text-wrap: balance;
  text-align: start;
  color: #00FFD4;
  font-family: 'ITC Eras Light';
  font-size: calc(18px + 0.390625vw);
  letter-spacing: 4px;
}

.impressum h1{
  font-size: calc(2.5rem + 0.390625vw);
  margin-bottom: 2rem;
}

.impressum p{
  margin-bottom: 1rem;
  max-width: 75ch;
}

.impressum li{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  flex-direction: column;
}
