
body {
  background-color: black;
}

.text-container {
  display: flex;
  min-width: 45ch;
  max-width: 70ch;
  margin: 0 auto;
  padding: 2em 2em 0 2em;
}

.text-container p {
  color: whitesmoke;
}

.tech-stack {
  width: 18rem;
  padding-left: 1em;
}

.img-landscape img{
  border-radius: 16px;
  border: 5px solid white;
  margin: 2em 15% 0;
  max-width: 70%;
}

.img-portrait {
  display: flex;
  justify-content: center;
  gap: 5%;
  margin: 0 15%;
  border-radius: 15px;
  text-align: end;
  max-width: 70%;
  /* padding: 2em 2em 0; */
}

.img-portrait img {
  border-radius: 16px;
  border: 5px solid white;
  width: 100%;
}

.divider{
  margin: 2em 15% 0;
  border: 1px solid #a63446;
}

/*break points*/

@media only screen and (min-width: 450px) {

  .text-container {
    flex-wrap: wrap;
  }

  .tech-stack {
    display: flex;
    padding: 0;
  }

  .tech-stack img {
    margin-top: 0.5em;
    width: 32px;
  }

  .img-portrait {
    display: flex;
    justify-content: end;
    max-width: 100%;
    padding: 2em 2em 0;
  }

}

@media only screen and (min-width: 750px) {
  .img-portrait {
    max-width: 80%;
  }


  .left {
    padding: 4em 4em 0 0;
  }

  .right {
    padding: 4em 0 0 4em;
  }
}

@media only screen and (min-width: 1200px) {
  .img-portrait {
    max-width: 60%;
  }

  .left {
    padding: 6em 6em 0 0;
  }

  .right {
    padding: 6em 0 0 6em;
  }
}
