body {
  background-color: black;
}

section > a > h1 {
  font-family: "Audiowide", sans-serif;
  text-align: center;
  padding: 2rem;
  font-size: calc(6rem + 0.390625vw);
}

.text-container {
  /* display: flex;
  justify-content: center; */
  max-width: calc(70ch + (70 * 4px));
  padding: 2em 2em 0 2em;
  margin-inline: auto;
  text-wrap: balance;
}

.text-container p {
  text-align: start;
  color: #00FFD4;
  font-family: "Orbitron", sans-serif;
  font-size: calc(18px + 0.390625vw);
  letter-spacing: 4px;
  /* margin: 2rem 0; */
}

.tech-stack {
  display: flex;
  justify-content: center;
  width: 90%;
  padding-left: 1em;
}

.img-landscape img{
  border-radius: 16px;
  /* border: 5px solid white; */
  margin: 2em auto 0;
  max-width: 70%;
  padding-top: 2em;
}

.divider{
  margin: 2em 15% 0;
  border: 1px solid #a63446;
}

.up {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.75rem;
  margin: 0.75rem;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  text-shadow: -1px 0px 1px #fff, 0px -1px 1px #fff, 0px 0px 8px #fff;
}

.hidden {
  opacity: 0;
}

.observation {
  transition: 250ms ease-in;
}


/*break points*/

@media only screen and (max-width: 414px) {

  section > a > h1 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    padding: 0rem;
    margin: 3.5rem 0 0 0;
    font-size: calc(3rem + 0.390625vw);
  }

  .img-portrait {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 4em 0em 0;
    max-width: 90%;
    margin: 0 5%;
  }

  .img-portrait img {
    border-radius: 16px;
    width: 45%;
  }

  .img-landscape img{
    margin: 0 5% 0;
    max-width: 90%;
  }

  .img-landscape{
    padding-top: 2em;
  }

  .tech-stack {
    display: flex;
    justify-content: flex;
    padding-left: 1em;
    width: calc(18rem + 0.390625vw);
  }

  .tech-stack img{
    margin-top: 1rem;
    height: 2rem;
  }

  .up {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1.75rem;
    margin: 0.75rem;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-shadow: -1px 0px 1px #fff, 0px -1px 1px #fff, 0px 0px 8px #fff;
  }
}


@media only screen and (min-width: 415px) {

  section > a > h1 {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    padding: 0rem;
    margin: 3.5rem 0 0 0;
    font-size: calc(3rem + 0.390625vw);
  }

  .img-portrait {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 4em 0em 0;
    width: 90%;
    margin: 0 5%;
    padding-bottom: 3em;
  }

  .img-portrait img {
    border-radius: 16px;
    width: 45%;
  }

  .text-container {
    flex-wrap: wrap;
  }

  .tech-stack {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .tech-stack img{
    margin-top: 1rem;
    width: calc(18rem + 0.390625vw);
  }

  .img-landscape img{
    max-width: 90%;
  }

  .img-landscape{
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .up {
    bottom: 0;
    right: 2%;
  }
}

@media only screen and (min-width: 750px) {
  .left {
    padding: 4em 4em 0 0;
  }

  .right {
    padding: 4em 0 0 4em;
  }

  .img-portrait {
    padding-top: 2em;
  }

  .img-landscape{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .img-landscape img {
    padding-top: 0;
  }

  .text-container {
    padding: 0 2em;
  }

  .tech-stack img {
    width: auto;
  }
  .img-portrait img {
    max-width: 316px;
  }

  .up {
    font-size: 3rem;
    bottom: 0;
    right: 9%;
  }
}

@media only screen and (min-width: 1200px) {

  .img-portrait {
    display: flex;
    justify-content: center;
    gap: 5%;

    padding: 2em 0em 0;
    max-width: 70%; /* <<<<< */
    margin: 0 auto;
  }

  .img-portrait img {
    border-radius: 16px;
    max-width: 316px;
  }

 .left {
    padding: 6em 6em 0 0;
    width: 50%;
  }

  .right {
    padding: 6em 0 0 6em;
  }

  .img-landscape img{
    max-width: 70%;
  }

  .img-portrait {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

/* impressum */

.impressum {
  /* max-width: calc(70ch + (70 * 4px));
  padding: 2em 2em 0 2em; */
  /* margin-inline: auto; */
  text-wrap: balance;
  text-align: start;
  color: #00FFD4;
  font-family: "Orbitron", sans-serif;
  font-size: calc(18px + 0.390625vw);
  letter-spacing: 4px;
}

.impressum h1{
  font-size: calc(2.5rem + 0.390625vw);
  margin-bottom: 2rem;
}

.impressum p{
  margin-bottom: 1rem;
  max-width: 75ch;
}

.impressum li{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  flex-direction: column;
}
