@import "font.css";

:root {
  --grid-space: 2.4rem;
  --columnWidthM: 2.7rem;
  --columnWidth: 2.1rem;
  --nav: 1.9rem;
  --frontDev: 3.4rem;
}

html, body {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  margin: 0;
}

.typo {
  font-family: 'ITC Eras Light';
  font-size: var(--grid-space);
  text-decoration: none;
  color: #00FFD4;
  line-height: 0.8;
}

.space {
  width: 6.15em;
  display: inline-block;
}

/*letter positions*/
.name-container {
  margin-inline: auto;
}

.name-logo {
  margin: 0 auto;
  display: grid;
  grid-template: var(--grid-space) var(--grid-space) var(--grid-space)/
                 var(--columnWidthM) var(--columnWidth) var(--columnWidth) var(--columnWidth) var(--columnWidth);
  justify-items: center;
  align-items: center;
}

.itemF1 {
  grid-area: 2 / 1 / 3 / 2;
}
.itemF2 {
  grid-area: 2 / 2 / 3 / 3;
}
.itemF3 {
  grid-area: 2 / 3 / 3 / 4;
}
.itemF4 {
  grid-area: 2 / 4 / 3 / 5;
}
.itemF5 {
  grid-area: 2 / 5 / 3 / 6;
}
.item1 {
  grid-area: 2 / 1 / 6 / 3;
}
.item2 {
  grid-area: 1 / 2 / 2 / 3;
}
.item3 {
  grid-area: 3 / 2 / 4 / 3;
}
.item4 {
  grid-area: 4 / 2 / 5 / 3;
}

/* Glow Effect */

.glow {
  font-size: var(--grid-space);
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00FFD4, 0 0 40px #00FFD4, 0 0 50px #00FFD4, 0 0 60px #00FFD4, 0 0 70px #00FFD4;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #97FFCF, 0 0 40px #97FFCF, 0 0 50px #97FFCF, 0 0 60px #97FFCF, 0 0 70px #97FFCF, 0 0 80px #97FFCF;
  }
}

/* Frontend Developer Animation */


#front, #dev {
  color: #fff;
  font-family: 'harlow solid italic';
  font-size: var(--frontDev);
}

#front {
  margin-top: 5%;
  animation: front 2s 0s ease-out forwards;
}

@keyframes front {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

#dev {
  margin-right: 10%;
  animation: dev 1s 0s ease-out forwards;
}

@keyframes dev {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* navigation */
.nav-container {
  margin-bottom: 10%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  gap: calc(var(--nav) / 1.75);
  animation: nav 1s 0s ease-out forwards;
}

@keyframes nav {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

a {
  color: #fff;
  font-family: 'harlow solid italic';
  font-size: var(--nav);
  border: 1px solid #00FFD4;
  border-radius: 60px;
  padding: 6px 12px;
  box-shadow: 1px 1px 2px #00FFD4, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00FFD4, 0 0 8px #00FFD4, 0 0 10px #00FFD4, 0 0 12px #00FFD4, 0 0 15px #00FFD4;
}

a.projects {
  font-size: calc(var(--nav)*1.75);
}

nav a:hover {
  text-shadow: 1px 1px 2px #00FFD4, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00FFD4, 0 0 20px #00FFD4, 0 0 25px #00FFD4, 0 0 30px #00FFD4, 0 0 35px #00FFD4;
}

/* breakpoints */
@media only screen and (orientation: portrait) {
  .dev-container {
    display: grid;
    margin-inline: auto;
  }
}

@media only screen and (orientation: landscape) {
  * {
    margin: 0;
    padding: 0;
  }

  #front, #dev {
    font-size: 2.5rem;
  }

  a.projects {
    font-size: calc(var(--nav)*1.25);
  }

  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2% 5% 2% 5%;
  }

  .dev-container {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    align-self: start;
  }

  .nav-container {
    grid-area: 2 / 2 / 3 / 3;
    align-items: end;
    margin: 0;
    justify-self: end;
    align-self: end;
  }

  .name-container {
    grid-area: 2 / 1 / 3 / 2;
    align-self: end;
    margin: 0;
  }

  #front {
    margin-top: 0;
    margin-right: 0;
    animation: front 2s 0s ease-out forwards;
  }

  #dev {
    margin-right: 0;
    animation: dev 1s 0s ease-out forwards;
  }

  nav {
    margin-bottom: 0;
  }
}

@media only screen and (orientation: landscape) and (min-width:1080px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6% 12% 6% 12%;
  }

  #front, #dev {
    font-size: var(--frontDev);
  }

  :root {
  --grid-space: 3.6rem;
  --columnWidthM: 4.05rem;
  --columnWidth: 3.15rem;
  --nav: 2.85rem;
  --frontDev: 5.1rem;
  }
}
